body, header, footer, ul, li
  margin: 0
  padding: 0
  line-height: 1.0
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif

img
  position: absolute
  top: 70px
  left: 0px
  z-index: -1
  display: none
  width: 2400px

svg
  stroke-width: 0.3
  background: rgba(0, 0, 0, 0.1)
  stroke: none

  .panels
    polygon
      fill: hsla(200, 10%, 65%, 1)
      stroke: #666

    .panel
      circle
        fill: hsla(0, 0%, 20%, 1)

  .screw
    circle
      fill: hsla(0, 0%, 80%, 1)
      stroke: none
    
    line
      stroke: #666
