body, header, footer, ul, li
  margin: 0
  padding: 0
  line-height: 1.0
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif

img
  position: absolute
  top: 0
  left: 0
  z-index: -1
  display: none
  width: 2400px

svg
  stroke-width: 1
  background: rgba(0, 0, 0, 0.1)

  .panels
    polygon
      fill: hsla(0, 0%, 0%, 0.5)
      stroke: orange

  .boiler
    fill: hsla(0, 0%, 0%, 0)
    stroke: #000

  .head-light *
    fill: hsla(0, 0%, 100%, 0)
    stroke: #000

  .number-plate
    fill: hsla(0, 65%, 40%, 0)
    stroke: #000

  .coupler
    stroke: #000

    .frame
      fill: hsla(0, 90%, 40%, 0)

    .fog-lamp
      fill: hsla(0, 0%, 100%, 0)

    .buffer
      fill: hsla(20, 60%, 50%, 0)
