@charset "UTF-8";
body, header, footer, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1.0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; }

img {
  position: absolute;
  top: 70px;
  left: 0px;
  z-index: -1;
  display: none;
  width: 2400px; }

svg {
  stroke-width: 0.3;
  background: rgba(0, 0, 0, 0.1);
  stroke: none; }
  svg .panels polygon {
    fill: #9da9af;
    stroke: #666; }
  svg .panels .panel circle {
    fill: #333333; }
  svg .screw circle {
    fill: #cccccc;
    stroke: none; }
  svg .screw line {
    stroke: #666; }
